aiohttp
aiosignal
anyio
asttokens
async-timeout
attrs
backcall
beautifulsoup4
bleach
certifi
charset-normalizer
click
colorama
dataclasses-json
decorator
defusedxml
docx2txt
elevenlabs
et-xmlfile
executing
faiss-cpu
fastapi
fastjsonschema
frozenlist
greenlet
h11
idna
ipython
jedi
Jinja2
jsonschema
jupyter_client
jupyter_core
jupyterlab-pygments
langchain==0.0.154
MarkupSafe
marshmallow
marshmallow-enum
matplotlib-inline
mistune
multidict
mypy-extensions
nbclient
nbconvert
nbformat
numexpr
numpy
openai
openapi-schema-pydantic
openpyxl
packaging
pandas
pandocfilters
parso
pickleshare
platformdirs
prompt-toolkit
pure-eval
pydantic
Pygments
PyJWT
pyodbc
pypdf
pyrsistent
python-dateutil
python-dotenv
python-multipart
PyYAML
pyzmq
regex
requests
six
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
tenacity
tiktoken
tinycss2
tornado
tqdm
traitlets
typing-inspect
typing_extensions
urllib3
uvicorn
webencodings
yarl
